form {
  text-align: center;
}
.jumbotron {
background-image: url(/concert.jpg);
background-size: cover;
height: 100%;}

p {
  margin: 25px;
  text-align: center;
  font-size: 65px;
  color: white;
  text-shadow: 35%;
}

h3 {
  text-align: center;

}

.bgSty {
  background-image: url(/bg.gif);
}
