<!DOCTYPE html>
<html>
  <head>
    <title>Tour Tracking...</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>

  </head>
  <body>
    <div class='container bgSty'>

      <div class="jumbotron">
        <div class="container push-spaces">
          <p>Welcome to the official Tour and Venue Directory</p>
        </div>
      </div>

      #parse( $template )
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

  </body>
</html>
